<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src="script.js"></script>

    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,200&family=Bebas+Neue&family=Fira+Sans+Extra+Condensed:ital,wght@1,200&family=Luxurious+Script&family=Titillium+Web:wght@300&display=swap"
    rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Roboto:ital,wght@1,300&family=Ropa+Sans&family=Russo+One&display=swap" rel="stylesheet">
    


</head>

<body>


    <header>
        <nav class="main-nav">
            <input type="checkbox" id="isChecked" />
            <label for="isChecked" class="menu-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul class="minions-united">
                
            <li><a class="logo" href="index.ejs"><img src="img/Minions-United.png" alt="premier lig logosu" width="70px" height="90px"></a></li>
            <li><a class="minions-united" href="#">Minions United</a></li>

            </ul>
            
            <ul class="navlinks">
                
                <li><a href="#">PREMIER LIG 2023/2024</a></li>


            </ul>
        </nav>
    </header>
    <ul class="btns">
        <button class="btn" id="fiks"><a href="../index">FİKSTÜR</a></button>
        <button class="btn"><a href="league-table">PUAN DURUMU</a></li>
    </ul>

  

    <table class="league-table" border="1">
        <tr>
            <th><div class="tooltip">S<span class="tooltiptext">Sıralama</span></div>
            <th><div class="tooltip" >T<span class="tooltiptext">Takım</span></div>
            <th><div class="tooltip">O<span class="tooltiptext">Oynanan</span></div>
            <th><div class="tooltip">G<span class="tooltiptext">Galibiyet</span></div>
            <th><div class="tooltip">B<span class="tooltiptext">Berabere</span></div>
            <th><div class="tooltip">M<span class="tooltiptext">Mağlubiyet</span></div>
            <th><div class="tooltip">A<span class="tooltiptext">Atılan Gol</span></div>
            <th><div class="tooltip">Y<span class="tooltiptext">Yenilen Gol</span></div>
            <th><div class="tooltip">Av<span class="tooltiptext">Averaj</span></div>
            <th><div class="tooltip">P<span class="tooltiptext">Puan</span></div>
                      
        </tr>
        <tbody>
            <% standings.forEach(team => { %>
                <tr>
                    
                    <td><%= team.position %></td>
                    <td> <img width="60px" height="60px" src="<%= team.team.crest %>" alt="<%= team.name  %>"> <%= team.team.name %></td>
                    
                   

                    <td><%= team.playedGames %></td>
                    <td><%= team.won %></td>
                    <td><%= team.draw %></td>
                    <td><%= team.lost %></td>
                    <td><%= team.points %></td>
                    <td><%= team.goalsFor %></td>
                    <td><%= team.goalsAgainst %></td>
                    <td><%= team.goalDifference %></td>
                </tr>
            <% }); %>
    <tbody>        
    </table>
    



</body>
</html>